<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Deklaracja</title>
    </head>
    <body>
        Deklaracja <%= przm %> <br> 
        Twoje imię : <%= imie %> <br>
        Twoje nazwisko : <%= nazw %> <br>
        Punkty za zadania: <br>
        <% for ( var i=0; i<9;i++){%>
            zad<%= i+1 %>:<%= pkt[i] %>
        <% } %>
    </body>
</html>